
*,
*:before,
*:after{
    padding: o;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(31, 26, 26);
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%) ;
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child{
    background: linear-gradient(
        #442fff,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}
form{
    height: 550px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font: size 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}
label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;;
}


.social{
    margin-top: 5px;
    display: flex;
}
.social div{
    background: red;
    width: 100px;   
    border-radius:  3px;
    padding:  5px 10px 5px 5px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    text-align: center;
    margin-bottom:50px ;
}
.social div:hover{
    background-color: rgba(255, 255, 255, 0.47);

}

.social .fb{
    margin-left: 70px;
}
.social i{
    margin-right: 0px;
}


.SIGNUP{
    margin-top: 15px ;
    display: flex;
}


.button a{
    position: relative;
    padding: 20px 40px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 10px; 
    margin-left: 19%;
}


.button a span{
    position: relative;
    margin-left: 2px;
    font-size: 20px;
    font-family: Arial;
    letter-spacing: 8px;
    z-index: 1;
}
.button a .liqued{
    position: absolute;
    top: -80px;
    left: 0;
    width: 200px;
    height: 200px;
   
    transition: .5s;

}

.button a .liqued::after,
.button a .liqued::before{
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-75%);
    background: #000;
}

.button a .liqued::before{
    border-radius: 45%;
    background: rgba(20,20,20, 1);
    animation: animate 10s linear infinite;
}
.button a .liqued::after{
    border-radius: 40%;
    background: rgba(20,20,20, .5);
    animation: animate 10s linear infinite;
}
.button a:hover .liqued{
    top: -120px;
}
@keyframes animate{
    0%{
        transform: translate(-50%,-69%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-69%) rotate(360deg);
    }
}